html{
    height: 100%;
    width: 100%;
}

body{
    height: 220%;
    width: 100%;
}
a1{ 
    
    font-size:1em;
    text-align:center;
    font-weight: bold;
    padding:3.15% 1.5%;
    height:100%;
    width:100%;
    background: transparent;
    color:black;
    width: 6.14%;
}
a2{ 
    font-size:1.5rem;
    font-weight: bold;
    padding:0%;
    padding-left:0%;
    padding-right:0%;
    height:100%;
    width:100%;
    background: transparent;
    color:white;
}
a1.active:hover{
    background-color:#c10036;
    color: white;
  }
li2.special{
      width: 6.14%;
      height:100% !important;
  }
li.nav-second{
    text-align: center;
    border-right:1px solid;
    padding-top:1.2%;
    padding-bottom:1.2%;
      margin-top:0%;
      width: 6.96%;
      height:100%;
}
img.logo{
  width: 70%;
  height: 60%;
  position: absolute;
  top:17px;
  left:11%;
}
div3 img{
  position: absolute;;
  top:15.425%;
  left:0;
  height:50%;
  width: 100%;
}

picture1 img.picture-1{
  --width:23rem;
  position: absolute;
  top:72%;
  left:7.5%;
  height:23rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
  z-index:1;
}
picture2 img{
  position: absolute;;
  top:72%;
  left:25.5%;
  --width:23rem;
  height:var(--width)-1rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
  z-index:1;
  
}
picture3 img{
  position: absolute;;
  top:72%;
  left:43.5%;
  --width:23rem;
  height:var(--width)-1rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
  z-index:1;
}
picture4 img{
  position: absolute;;
  top:72%;
  left:61.5%;
  --width:23rem;
  height:var(--width)-1rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
  z-index:1;
}
picture5 img{
  position: absolute;;
  top:72%;
  left:79.5%;
  --width:23rem;
  height:var(--width)-1rem;
  width: 23rem;
  border-radius: 50%;
  box-shadow: 5px 5px 5px grey;
  z-index:1;
}
h1 {
  width:23rem;
  position: absolute;
  top:100%;
}

div{
  height:4rem;
  width:23rem;
  
}

#head-1{
  position: absolute;
  left:7.5%;
}

#head-2{
  position: absolute;
  left:25.5%;
}

#head-3{
  position: absolute;
  left:43.5%;
}

#head-4{
  position: absolute;
  left:61.5%;
}

#head-5{
  position: absolute;
  left:79.5%;
}

.list-1{
  position: absolute;
  top:110%;
  text-align: center;
}

.list-2{
  position: absolute;
  top:114%;
  text-align: center;
}

.list-3{
  position: absolute;
  top:118%;
  text-align: center;
}

.list-4{
  position: absolute;
  top:122%;
  text-align: center;
}

.head-1{
  left:7.5%;
  text-align: center;
}
.head-2{
  left:25.5%;
  text-align: center;
}
.head-3{
  left:43.5%;
  text-align: center;
}
.head-4{
  left:61.5%;
  text-align: center;
}
.head-5{
  left:79.5%;
  text-align: center;
}
.icon{
  position: relative !important;
  top:0% !important;
  left:-8%;
  width: 10%;
  height: 50%;
}
div p1.selection{
  position: relative;
  top:9%;
  left:-2%;
  font-size: 1.8rem;
  text-align: center;
}
div4 img{
  position: fixed;
  bottom: 0;
  left:0;
  width:100%;
  height:22%;
  z-index:3;
}
picture1 .picture-1:hover{
  position: absolute !important;
  top:70% !important;
  left: 6.5% !important;
  height:27rem !important;
  width: 27rem !important;
  filter:opacity(20%);
}

picture1 .picture-1:hover .description-1{
  opacity:1;
}


picture2 .picture-2:hover{
  position: absolute !important;
  top:70% !important;
  left: 24.5% !important;
  --width:27rem !important;
  height:var(--width)-1rem !important;
  width: 27rem !important;
  filter:opacity(20%);
}

picture3 .picture-3:hover{
  position: absolute !important;
  top:70% !important;
  left: 42.5% !important;
  --width:27rem !important;
  height:var(--width)-1rem !important;
  width: 27rem !important;
  filter:opacity(20%);
}

picture4 .picture-4:hover{
  position: absolute !important;
  top:70% !important;
  left: 60.5% !important;
  --width:27rem !important;
  height:var(--width)-1rem !important;
  width: 27rem !important;
  filter:opacity(20%);
}

picture5 .picture-5:hover{
  position: absolute !important;
  top:70% !important;
  left: 78.5% !important;
  --width:27rem !important;
  height:var(--width)-1rem !important;
  width: 27rem !important;
  filter:opacity(20%);
}
picture1 #circle{
  position: absolute;
  top:70%;
  left:6.5%;
  width: 27rem !important;
  height: 27rem !important;
  z-index: -1;
  border-radius: 50%;
  background-color:white;
}

picture2 #circle{
  position: absolute;
  top:70%;
  left:24.5%;
  width: 27rem !important;
  height: 27rem !important;
  z-index: -1;
  border-radius: 50%;
  background-color:white;
}
picture3 #circle{
  position: absolute;
  top:70%;
  left:42.5%;
  width: 27rem !important;
  height: 27rem !important;
  z-index: -1;
  border-radius: 50%;
  background-color:white;
}
picture4 #circle{
  position: absolute;
  top:70%;
  left:60.5%;
  width: 27rem !important;
  height: 27rem !important;
  z-index: -1;
  border-radius: 50%;
  background-color:white;
}

picture5 #circle{
  position: absolute;
  top:70%;
  left:78.5%;
  width: 27rem !important;
  height: 27rem !important;
  z-index: -1;
  border-radius: 50%;
  background-color:white;
}
.description-1{
  font-family: Microsoft JhengHei;
  text-align: center;
  display: flex;
  width:20rem;
  height:20rem;
  position: absolute;
  top:79%;
  left:7.5%;
  flex-direction: column;
  font-size: 17px;
  color:white;
  opacity: 0;
  transition : 1s ease;
}

.description-2{
  font-family: Microsoft JhengHei;
  text-align: center;
  display: flex;
  width:20rem;
  height:20rem;
  position: absolute;
  top:78%;
  left:25.5%;
  flex-direction: column;
  font-size: 17px;
  color:white;
  opacity: 0;
}

.description-3{
  font-family: Microsoft JhengHei;
  text-align: center;
  display: flex;
  width:20rem;
  height:20rem;
  position: absolute;
  top:78%;
  left:43.5%;
  flex-direction: column;
  font-size: 17px;
  color:white;
  opacity: 0;
}

.description-4{
  font-family: Microsoft JhengHei;
  text-align: center;
  display: flex;
  width:20rem;
  height:20rem;
  position: absolute;
  top:76.5%;
  left:61.5%;
  flex-direction: column;
  font-size: 17px;
  color:white;
  opacity: 0;
}

.description-5{
  font-family: Microsoft JhengHei;
  text-align: center;
  display: flex;
  width:20rem;
  height:20rem;
  position: absolute;
  top:77%;
  left:79.5%;
  flex-direction: column;
  font-size: 17px;
  color:white;
  opacity: 0;
}

div15 div{
  height:18px;
}